* {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Nueue', sans-serif;
  font-size: 16px;
}

body {
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
}

.navbar {
  background-color: white;
  padding: 30px 20px;
  margin-bottom: 20px;
}

.container__img {
  width: 100px;
}

.container-menu {
  float: right;
  margin-top: 7px;
}

.container-menu__item {
  color: rgb(163, 163, 163);
  text-decoration: none;
  margin-left: 10px;
  padding: 10px 15px;
}

.container-menu__item.active {
  color: black;
}

.side-bar {
  background-color: white;
  padding: 20px 25px;
}

.img-box {
  text-align: center;
}

.img-box__img {
  width: 150px;
  vertical-align: middle;
}

.social-box__link {
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}

.side-bar__divider {
  width: 80px;
  border-top: 2px solid grey;
}

.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.post__img {
  width: 100%;
}

.post__title {
  margin-top: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .container {
    width: 768px;
  }
  .content {
    position: relative;
  }
  .side-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
  }
  .post-box {
    padding-left: 300px;
  }
  .post__img {
    float: left;
    width: 250px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 20px;
  }
  .container {
    width: 992px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 22px;
  }
  .container {
    width: 1200px;
  }
}

@media speech {
  .side-bar {
    display: none;
  }
}